* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.text-container {
  position: absolute;
  width: 100%;
  top: 15%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.happy {
  font-family: "dejanire-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}

.subtext {
  font-family: "dejanire-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
}

.logos-set {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
}

.logo-intro {
  /* width: 7vw; */
  width: 120px;
}

.email-sens-container {
  position: absolute;
  right: 0%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: end;
}

a {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: black;  
  text-decoration: none;
}

.slider-container {
  /* position: absolute; */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

input {
  /* position: absolute; */
  appearance: none;
  height: 3.6px;
  top: 0;
  background-color: white;

}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid white; */
  /* box-shadow: 0 0 2px rgba(0,0,0,0.3); */
  /* margin-top: -7px; centers the thumb vertically on the track */
}

.sensitivity-text {
  /* position: absolute; */
  top: 0;
  left: 150px;

  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
}

.mic {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  padding: 6px 10px;
  border: 1px solid black;
}

.mic:hover {
  cursor: pointer;
}

@media (max-width: 600px) {

  .text-container {
    position: absolute;
    width: 100%;
    top: 20%;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .happy {
    font-size: 2rem;
    text-align: center;
  }

  .subtext {
    
    font-size: 1rem;
    
  }

  .logos-set {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
  }

  .logo-intro {
    /* width: 7vw; */
    width: 70px;
  }

  .email-sens-container {
    position: absolute;
    height: 100%;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 64px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    justify-content: space-between;
  }

  .slider-container {
    scale: 0.8;
  }

  a {
    background-color: white;
    padding: 2px 6px;
  }
}